@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    color: whitesmoke;
}

body {
    background: radial-gradient(#955c68, #5e363f);
}

/*  NavBar  ------------------------------*/
.navbar-nav .nav-link {
    color: whitesmoke;
}
.nav-item a.nav-link.active {
    color: #ffc27f;
}
.navbar {
    padding: 2rem;
    background: radial-gradient(#5f3840, #41252b);
    color: whitesmoke;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}


/*  Barra de desplazamiento o scroll  ------------------------------*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #41252b;
}
::-webkit-scrollbar-track {
    background-color: #5e363f;
}
/* para Firefox */
body {
    scrollbar-color: #41252b #ffc27f;
}


/*  Otros  ------------------------------*/

.container p {
    text-align: justify;
    line-height: 1.6;
    font-size: 20px;
}
option {
    color: #000;
}
.invalid-feedback {
    color: #ffe29a;
}
.tamanioImagen {
    object-fit: contain;
    background-color: white;

}
.precio {
    color: #ffc27f;
}
h1 {
    color: #ffc27f;
}
.card-title {
    color: #ffc27f;
}
.card {
    background-color: #614047;
}
.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
td {
    text-align: center;
}
.card p {
    line-height: 1.4em;
}


/*  Acerca De  ------------------------------*/
.acercade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-content {
    flex: 2;
}
.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
}
.about-content p {
    font-size: 18px;
    line-height: 1.5;
}
.acercade-image {
    flex: 1;
    margin-right: 40px;
    margin-left: 40px;
    overflow: hidden;
}
.acercade-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50px;
    transition: 0.5s ease;
}
.acercade-image:hover img {
    transform: scale(1.2);
}




/*  Footer  ------------------------------*/
footer {
    min-height: 50px;
    background-color: rgb(32, 32, 32);
}
.footer-logo {
    height: 100px;
    width: 150px;
    margin: 10px;
    background-color: #E5EABF;
    border-radius: 50%;
}
.footer-texto {
    font-size: 1.5rem;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    /* font-family: 'Quicksand' sans-serif; */
}
.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2 ease-in;
}
.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2 ease-in;
}
.iconos-redes-sociales a:hover {
    background-color: #E5EABF;
    border: 2px solid red
}
.iconos-redes-sociales a:hover i {
    color: red;
}
.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/*  Responsive  ------------------------------*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .heading-acercade {
        padding: 0px 20px;
    }

    .heading-acercade h1 {
        font-size: 36px;
    }

    .heading-acercade p {
        font-size: 17px;
        margin: top 0px;
    }

    .container-acercade {
        padding: 0px;
    }

    .acercade {
        padding: 20px;
        flex-direction: column;
    }

    .acercade-image {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .about-content p {
        padding: 0px;
        font-size: 16px;
    }

    .about-content.read-more {
        font-size: 16px;
    }

    .carousel {
        margin-left: 0px;
    }
}